:root {
  background-image: url('https://wallpapers.com/images/hd/map-background-527ddbha5r4am9rc.jpg');
  background-position:center; 
  background-size:cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

body {
  margin: 0;
}
.app{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.filter-area {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 5px 50px;
  width: 80%;
  margin: 10px 0px 10px 20px;
  
}

.main-panel{
 top: 0;
 padding-left: 250px;
}

.result-area{
 
  justify-content: space-evenly;
  align-items: center;
}


.stat-item{
  background-color: #0d98d4;
  opacity: 0.8;
  margin-left: 10px;
  padding: 2px 5px;
  border-radius: 15px;
}

.stat-item h3{
  color: rgb(229, 13, 13);
  font-weight: bold;
}

.stat-item h4{
  color: rgb(0, 0, 0);
}

.header h1{
  color: rgb(32, 32, 32);
  font-size: 50px;
}

.result-area table{
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  color: white;
  width: 85% ;
}


.result-area td{
  height: 30px;
  vertical-align: middle;
}
.result-area thead {
  background-color: #091115;
  height: 50px;
}

.result-area th{
  border-spacing:100px;
}

.result-area tr:nth-child(even) {
  background-color: #70706b;
  opacity: 0.8;
}
   
.result-area tr:nth-child(odd) {
  background-color: #383837;
  opacity: 0.8;
}

.unemployment-slider{
       font-weight: bolder;
       color: #171717;
}

.unemployment-slider output{
  color: black;
}

.filter-area input {
  border-radius: 5px;
}

.filter-area button{
  border-radius: 3px;
  background-color: rgb(219, 163, 43);
  font-weight: bolder;
}